*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* google font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* google font */

body{
    font-family: "Poppins", sans-serif;
    position: relative;
}

/* common css */

.logo{
    width: 111px;
    height: 60px;
}
#navbarSupportedContent ul li a{
    color: white;
    padding-left: 20px;
}
#navbarSupportedContent ul li  ul li a{
    color: black;
}
.margin_logo{
    margin-right: 20%;
    transform: translateX(-20%);
}
.btn{
    padding: 10px 30px;
    text-align: center;
    border: 1px solid #fff;
    
}
/* nav section end */
/* banner section start */

.banner{
    /* background: radial-gradient(83.85% 128.37% at 37.1% 10.23%, #082859 0%, #07234D 20.14%, #04152E 56.38%, #000000 100%); */
    background-color:navy ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 1300px;
}
.victor_1{
    background-image: url(../img/victor_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 100vh;

}
.victor_2{
    background-image: url(../img/victor_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 120vh;
}
.victor_3{
    background-image: url(../img/victor_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 135vh;
}
.victor_4 {
	background-image: url(../img/roket.png);
	width: 400px;
	height: 900px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	right: 0;
	top: 200px;
}
.pt_btn {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.pt_btn button{
  padding: 5px 10px;
  outline-style: none;
  border: 1px solid #6A55EA;

} 

.contact_btn{
    border: 1px solid #6A55EA;
}

.contact_btn:hover{
    background-color: #6A55EA;
}


.button_analyze{
    color: white;
    border: 1px solid #6A55EA;
    background-color: #6A55EA;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    margin-left: 10px;
    
}
.button_analyze:hover{
    background-color: red;
}

.input-group input{
    padding:20px 15px;
}
 .web_input{
    margin-left: 50%;
    transform: translateX(-50%);
}
.victor_img{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
.victor_img img{
    width: 250px;
    height: 100px;
}


